In [2]:
import pandas as pd

student_file = "Resources/clean_students_complete.csv"
school_file = "Resources/schools_complete.csv"

student_df = pd.read_csv(student_file)
school_df = pd.read_csv(school_file)

student_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
#merge
student_school_df = pd.merge(student_df,school_df,on=["school_name","school_name"])
student_school_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
school_count = school_df['school_name'].count()
school_count

15

In [10]:
school_count = len(student_school_df['school_name'].unique())
school_count

15

In [12]:
total_budget = school_df['budget'].sum()
total_budget

24649428

In [14]:
reading_score = student_school_df['reading_score'].mean()
reading_score

81.87784018381414

In [15]:
math_score = student_school_df['math_score'].mean()
math_score

78.98537145774827

In [5]:
passing_math = student_school_df["math_score"] >= 70
passing_reading = student_school_df["reading_score"] >= 70

C:\Users\hjx1_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df