In [1]:
# Dependency: pandas
import pandas as pd

In [2]:
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/student_complete.csv"

In [3]:
school_data_df = pd.read_csv(school_csv)
student_data_df = pd.read_csv(student_csv)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [10]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)